[defaults]
host_key_checking = False
ansible_python_interpreter = /home/zignage/.pyenv/versions/3.11.2/bin/python
#-e "ansible_python_interpreter=/home/zignage/.pyenv/versions/3.11.2/bin/python"-e "ansible_python_interpreter=/home/zignage/.pyenv/versions/3.11.2/bin/python"
vault_editor=nvim
retry_files_enabled = True
timeout = 600
connection = smart
#interpreter_python = auto
forks = 13
[ssh_connection]
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
